<!DOCTYPE html>
<html>
<div class="center jumbotron">
  <h1>Skin Sheep | The Ultimate File Sharing Platform</h1>

  <h2>
  </h2>

  <%= link_to "Create an Account Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</html>
